@import '../../Assets/CSS/variables';

.StorePage { 
    .storePageBody { 
      display: grid;
      grid-template-columns: 20% 80%;
        .storePageMain { 
          padding-top: 6%;
          padding-left: 4%;
          height: 100vh;
            .header { 
                h1 { 
                  color: $darkshade;
                  text-transform: uppercase;
                  background-color: white;
                  width: fit-content;
                  padding: 2px 12px;
                  text-align: center;
                  margin-bottom: 1em;
                  border-radius: 9px;
                }
                .options { 
                  justify-content: left;
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr 1fr;
                  width: 60%;
                  gap: 0em;
                  margin-bottom: 3em;
                    p { 
                      width: fit-content;
                      padding: 5px 8px;
                      user-select: none;
                      cursor: pointer;
                      background-color: white;
                      color: $darkshade;
                      border-radius: 900px;
                      text-transform: uppercase;
                      font-weight: 600;
                      margin: 0 auto;
                    }
                }
            }
            .sales { 
              
                .top { 
                  width: 95%;
                  display: grid;
                  grid-template-columns: 70% 15% 15%;
                  color: white;
                }
                a { 
                  margin: 1em 0 ;
                }
            }
            .overview { 
                form { 
                  width: fit-content;
                  display: grid;
                  grid-template-columns: 4fr 1fr;
                  gap: 1em;
                    input { 
                      font-size: 16px;
                      width: fit-content;
                      padding: 0.5em 0.2em;
                      border: none;
                      border-radius: 900px;
                    }
                    button { 
                      width: 50px;
                      height: 50px;
                      margin: 0 auto;
                      background: white url('../../Assets/search.svg') no-repeat center/30%;
                      border: none;
                      border-radius: 900px;
                      cursor: pointer;
                    }
                }
                .top { 
                  width: 95%;
                  display: grid;
                  grid-template-columns: 70% 15% 15%;
                  color: white;
                  margin-top: 2em;
                }
                
            }
        }
        .allStocks { 
            #storeStockItem { 
              background-color: $darkshade;
              margin-bottom: 1em;
              width: 98%;
              display: grid;
              grid-template-columns: 70% 24% 5%;
              padding: 10px 16px;
                h3 { 
                  color: white;
                  font-size: 1.3em;
                  text-transform: capitalize;
                }
                input { 
                  width: fit-content;
                  background-color: transparent;
                  border: none;
                  color: white;
                  font-size: 1.3em;
                    &::placeholder { 
                      color: white;
                    }
                }
                .done { 
                  width: 40px;
                  height: 40px;
                  background: $success url('../../Assets/done.svg') no-repeat center/40%;
                  border-radius: 9px;
                  cursor: pointer;
                }
            }
        }
    }
}