$basecolor: #1A1C23;
$basefont: 'Overpass', sans-serif;
$secondarycolor: #202229;
$darkshade: #15161C;
$error: #D17166;
$success: #6FBF42;

//Adjusters. 
* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
};