@import './/.//Assets/CSS/_variables';

body {
  background-color: $basecolor;
};

* { 
  font-family: $basefont;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

    &:focus { 
      outline: none;
    }
}

#denial { 
  text-align: center;
  padding-top: 25%;
  color: white;
  font-size: 3em;
}